%td Scott Fahrig
%td scott@gmail.com
%td 900 N Main Street, Joplin, MO 64804
%td Dec 2013
%td $15/m
%td
  %a{:href => ""}
    %img{:alt => "", :src => image_path("icons/message-grey.svg")}/
  %a{:href => ""}
    %img{:alt => "", :src => image_path("icons/box.svg")}/