%section#rewards.admin-dashboard
  .row
    .small-3.columns
      %h2 Payment Information
    .small-9.columns
      %a.button.button-clear-green{:href => "#"} What is this?
  .row.well.pad-top
    .small-8.columns
      %h3
        To use Bandfund, you'll need to set up a
        %a{:href => "http://stripe.com", :target => "_blank"} Stripe account.
        - if current_artist.access_token == nil
          %p
            = link_to( image_tag("stripe/blue.png"), "https://connect.stripe.com/oauth/authorize?response_type=code&scope=read_write&client_id=#{ENV['STRIPE_CONNECT_CLIENT_ID']}")
          %p
          %h5 Please connect to Stripe so you can create rewards for your fans"
        - else 
          %h3 You're currently signed up with stripe
   