.reward
  %h4== #{number_to_currency(reward.price, precision:0)} Per Month
  %h5=# artist.number_of_supporters
  %h6 Supporters
  %p= reward.description
  - if pledge
    %h5= artist.number_of_supporters
    %a.button.button-green{:href => new_reward_pledge_path(reward)} Pledge
  - if edit
    %h5= #current_artist.number_of_supporters
    %a.button.button-green{:href => edit_artist_reward_path(current_artist, reward)} Edit
