.reward
  %h4== #{number_to_currency(reward.price, precision:0)} Per Month
  %h6 Supporters
  %p= reward.description
  - if pledge
    %h5= artist.number_of_supporters
    %a.button.button-green{:href => new_reward_pledge_path(reward)} Pledge