%section#rewards.admin-dashboard
  .row
    .small-2.columns
      %h2 Your Rewards
    .small-10.columns
      %a.button.button-clear-green{:href => "#"} New Reward
  .row
    .small-4.columns
      .reward
        %h4 $5 Per Month
        %h5 17 Supporters
        %p I'm in a car with Kevin driving to LA. We just passed OKC and stopped at a gas station.
        %a.button.button-green{:href => "#"} Edit
    .small-4.columns
      .reward
        %h4 $10 Per Month
        %h5 21 Supporters
        %p I'm in a car with Kevin driving to LA. We just passed OKC and stopped at a gas station.
        %a.button.button-green{:href => "#"} Edit
    .small-4.columns
      .reward
        %h4 $15 Per Month
        %h5 7 Supporters
        %p I'm in a car with Kevin driving to LA. We just passed OKC and stopped at a gas station.
        %a.button.button-green{:href => "#"} Edit
  .row
    .small-4.columns
      .reward
        %h4 $25 Per Month
        %h5 4 Supporters
        %p I'm in a car with Kevin driving to LA. We just passed OKC and stopped at a gas station.
        %a.button.button-green{:href => "#"} Edit
    .small-4.columns
      .reward
        %h4 $50 Per Month
        %h5 6 Supporters
        %p I'm in a car with Kevin driving to LA. We just passed OKC and stopped at a gas station.
        %a.button.button-green{:href => "#"} Edit
    .small-4.columns
      .reward
        %h4 $100 Per Month
        %h5 1 Supporter
        %p I'm in a car with Kevin driving to LA. We just passed OKC and stopped at a gas station.
        %a.button.button-green{:href => "#"} Edit