%script{:src => "https://js.stripe.com/v2/"}
.container
  %section#checkout-form
    .row
      #checkout-form.small-8.columns
        .row
          %script.stripe-button{"data-amount" => @reward.price, "data-description" => @reward.title, "data-key" => @artist.stripe_publishable_key, :src => "https://checkout.stripe.com/checkout.js"}
      #checkout-info.small-4.columns
        %img#cards-image{:alt => "", :src => image_path("cards.svg")}/
        .hr-with-margin
        .reward
          %h4 $25 Per Month
          %h5 21 Supporters
          %p I'm in a car with Kevin driving to LA. We just passed OKC and stopped at a gas station.
          %a.button.button-green{:href => "#"} Pledge

/ .container
/   %section#checkout-form
/     %form{:action => ""}
/       .row
/         #checkout-form.small-8.columns
/           .row
/             #name-form.small-12.columns
/               .row
/                 .small-6.columns
/                   %label{:for => "First Name"} First Name
/                   %input{:name => "First Name", :placeholder => "John", :type => "text"}/
/                 .small-6.columns
/                   %label{:for => "Last Name"} Last Name
/                   %input{:name => "Last Name", :placeholder => "Smith", :type => "text"}/
/               .row
/                 .small-12.columns
/                   %label{:for => "Email"} Email
/                   %input{:name => "Email", :placeholder => "fan@bandfund.com", :type => "text"}/
/             #address-info.small-12.columns
/               .row
/                 .small-12.columns
/                   %label{:for => "Address1"} Address 1
/                   %input{:name => "Address1", :placeholder => "123 Street", :type => "text"}/
/               .row
/                 .small-12.columns
/                   %label{:for => "Address2"} Address 2
/                   %input{:name => "Address2", :placeholder => "Apartment/Suite", :type => "text"}/
/               .row
/                 .small-6.columns
/                   %label{:for => "City"} City
/                   %input{:name => "City", :placeholder => "Joplin", :type => "text"}/
/                 .small-6.columns
/                   %label{:for => "State"} State
/                   %input{:name => "State", :placeholder => "Missouri", :type => "text"}/
/               .row
/                 .small-6.columns
/                   %label{:for => "ZIP"} ZIP
/                   %input{:name => "ZIP", :placeholder => "64804", :type => "text"}/
/                 .small-6.columns
/                   %label{:for => "Country"} Country
/                   %input{:name => "Country", :placeholder => "USA", :type => "text"}/
/             #billing-info.small-12.columns
/               .row
/                 .small-6.columns
/                   %label{:for => "Credit Card Number"} Credit Card Number
/                   %input{:name => "Credit Card Number", :placeholder => "1234 5678 9055 5555", :type => "text"}/
/                 .small-3.columns
/                   %label{:for => "Month"} Month
/                   %input{:name => "Month", :placeholder => "09", :type => "text"}/
/                 .small-3.columns
/                   %label{:for => "Year"} Year
/                   %input{:name => "Year", :placeholder => "14", :type => "text"}/
/               .row
/                 .small-6.columns
/                   %label{:for => "Security Code"} Security Code
/                   %input{:name => "Security Code", :placeholder => "123", :type => "text"}/
/                 .small-6.columns
/                   %label{:for => "Billing ZIP"} Billing ZIP
/                   %input{:name => "Billing ZIP", :placeholder => "64804", :type => "text"}/
/           / Form Side
/         #checkout-info.small-4.columns
/           / Info Side
/           %img#cards-image{:alt => "", :src => image_path("cards.svg")}/
/           .hr-with-margin
/           .reward
/             %h4 $25 Per Month
/             %h5 21 Supporters
/             %p I'm in a car with Kevin driving to LA. We just passed OKC and stopped at a gas station.
/             %a.button.button-green{:href => "#"} Pledge
/       / row
/       .row.pad-top
/         .small-12.columns
/           %submit.button.button-green Submit