%table.row
  %tr
    %td.wrapper.last
      %table.twelve.columns
        %tr
          %td
            %h1 Welcome to the Bandfund artist family!
            %p.lead Now that you're a registered artist on Bandfund, your fans can start pledging money to you every month!
            %p
              To learn more about setting up your profile and soliciting pledges from your fans, visit our
              %a{:href => "http://bandfund.com/artist-resources"} Artist Resourses
              page to read articles, watch videos, and hear from other artists who are already finding success on Bandfund!
            %p
              If you have any questions or issues, please contact our support team via
              = succeed "." do
                %a{:href => "http://twitter.com/bandfundapp"} Twitter
          %td.expander