%table.row
  %tr
    %td.wrapper.last
      %table.twelve.columns
        %tr
          %td
            %h1 Thanks for signing up for Bandfund!
            %p.lead Now that you're a registered as a fan on Bandfund, you can pledge to artists you love and discover your new favorites!
            %p Thank you for continuing to support music and the people who make it!
            %p
              If you have any questions or issues, please contact our support team via
              %a{:href => "http://twitter.com/bandfundapp"} Twitter
              \.
          %td.expander