%section#profile
  .container
    .row  
      - @rewards.each do |reward|
        .small-12.medium-3.columns 
          %h5= @artist.pledges.count 
          %h6 Supporters
          %h5= reward.title
          %h5= reward.description
          %h5= "$"reward.price
          %a.button.button-green{:href => new_reward_pledge_url(reward.id, protocol: "https")} Pledge
