%section#cta
  .row
    #cta-block.small-12.columns.center
      %h2 Music Has Worth
      %p Bandfund empowers artists to keep creating the music you love and earns fans exclusive rewards they deserve.
      / %a.button.button-green.button-cta.button-cta-green{:href => new_artist_registration_path} Sign Up as an artist
      %a.button.button-purple.button-cta.button-cta-purple{:href => new_fan_registration_path} Sign Up as a fan
%section#about
  .row
    .small-12.medium-6.columns.margin-top-large
      %h3 What is Bandfund?
      %p Bandfund is a recurring crowdfunding platform for musicians and their fans.
      %a.button.button-clear-green{:href => "about"} Learn More
    .show-for-medium-up.medium-6.columns
      %img{:alt => "Bandfund Screenshot", :src => image_path("screenshot.png")}/
- if @featured_artist
  %section#featured
    .row
      = render partial: "featured_artist"
%section#discover
  %h2 Discover
  .container
    #myCarousel.carousel.slide
      .carousel-inner
        .item.active
          %ul.thumbnails
            = render partial:'fans/artist', collection: @artists1
        / /Page1
        .item
          %ul.thumbnails
            = render partial:'fans/artist', collection: @artists2
        / /Page2
        .item
          %ul.thumbnails
            = render partial:'fans/artist', collection: @artists3
        / /Page3
      .control-box
        %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"}
          %img{:alt => "", :src => image_path("left-controller.png")}/
        %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"}
          %img{:alt => "", :src => image_path("right-controller.png")}/
      / /.control-box
    / /#myCarousel
