%li.card
  .thumbnail
    = link_to( image_tag(artist.image(:medium)), artist_path(artist.id))
  .caption
    %h3= artist.name
    %h4= artist.genre
    %p
      = truncate(strip_tags(@featured_artist.about_me.html_safe), length: 75) { link_to '[read more]', artist }
    %a.button.button-green{:href => artist_path(artist.id)} Pledge
