%section#cta
  .row
    #cta-block.small-12.columns.center
      %h2 Thanks for signing up!
      %p Bandfund is still in its early beta testing phase. But we're happy you're here! Why not check out Carter Hulsey's profile?
      %a.button.button-green.button-cta.button-cta-green{:href => "http://www.bandfund.com/artists/4"} Let's Go!
%section#featured
  .container
    - if @featured_artist
      = render partial: "welcome/featured_artist"
    - else
      please set a featured artist
%section#discover
  %h2 Discover
  .container 
    #myCarousel.carousel.slide
      .carousel-inner
        .item.active          
          %ul.thumbnails
            = render partial:'artist', collection: @artists1
        / /Page1
        .item
          %ul.thumbnails
            = render partial:'artist', collection: @artists2
        / /Page2
        .item
          %ul.thumbnails
            = render partial:'artist', collection: @artists3
        / /Page3
      .control-box
        %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"}
          %img{:alt => "", :src => image_path("left-controller.png")}/
        %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"}
          %img{:alt => "", :src => image_path("right-controller.png")}/
      / /.control-box
    / /#myCarousel
