%section#cta
  .row
    #cta-block.small-12.columns.center
      %h2 Thanks for signing up!
      %p Bandfund is still in its early beta testing phase, but we're super happy you're here! Why not check out Carter Hulsey's profile?
      %a.button.button-purple.button-cta.button-cta-purple{:href => "http://www.bandfund.com/artists/4"} Let's Go!
%section#about.blue-bg
  .row
    .small-12.medium-6.columns.margin-top-large
      %h3 What is Bandfund?
      %p Bandfund is a recurring crowdfunding platform for musicians and their fans.
      %a.button.button-clear-green{:href => "about"} Learn More
    / .show-for-medium-up
    /   %img{:alt => "Bandfund Screenshot", :src => image_path("screenshot.png")}/
- if @featured_artist
  %section#featured
  .row
    = render partial: "welcome/featured_artist"
- else
  please set a featured artist
-# %section#discover
-#   %h2 Discover
-#   .container
-#     #myCarousel.carousel.slide
-#       .carousel-inner
-#         .item.active
-#           %ul.thumbnails
-#             = render partial:'fans/artist', collection: @artists1
-#         Page1
-#         .item
-#           %ul.thumbnails
-#             = render partial:'fans/artist', collection: @artists2
-#         Page2
-#         .item
-#           %ul.thumbnails
-#             = render partial:'fans/artist', collection: @artists3
-#         Page3
-#       .control-box
-#         %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"}
-#           %img{:alt => "", :src => image_path("left-controller.png")}/
-#         %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"}
-#           %img{:alt => "", :src => image_path("right-controller.png")}/
-#       .control-box
-#     #myCarousel
