%section#about-header
  %h2 Music has Worth
  %a.button.button-clear-white{:href => "#mission"} Our Mission
%section#about-content
  .menu-bar
    %ul
      %li
        %a.active{:href => "#"}
          %img{:alt => "", :src => image_path("icons/company.svg")}>/
          Company
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => image_path("icons/values.svg")}>/
          Values
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => image_path("icons/team.svg")}>/
          Meet the Team
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => image_path("icons/contact.svg")}>/
          Contact
  .container
    %section#company
      %h2 Company
      #mission.row
        .small-8.columns
          %h3 Mission
          .hr
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id sem eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id sem eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id sem eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id sem eu.
          %h3 What is Bandfund?
          .hr
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id sem eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id sem eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id sem eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id sem eu.
        .small-4.columns Right
    %section#values
      %h2 Values
      .row
        .small-4.columns
          %h3
            %img{:alt => "", :src => image_path("icons/values.svg")}>/
            Mission
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id sem eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .small-4.columns
          %h3
            %img{:alt => "", :src => image_path("icons/team.svg")}>/
            Mission
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id sem eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .small-4.columns
          %h3
            %img{:alt => "", :src => image_path("icons/contact.svg")}>/
            Mission
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id sem eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .row
        .small-4.columns
          %h3
            %img{:alt => "", :src => image_path("icons/company.svg")}>/
            Mission
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id sem eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .small-4.columns
          %h3
            %img{:alt => "", :src => image_path("icons/values.svg")}>/
            Mission
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id sem eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .small-4.columns
          %h3
            %img{:alt => "", :src => image_path("icons/team.svg")}>/
            Mission
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id sem eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
